{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
<div class="container" style="background-color: rgba(200, 200, 200, 0.8)">
    <h1>Page index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'id' | trans }}</th>
                <th>{{ 'title' | trans }}</th>
                <th>{{ 'Content' | trans }}</th>
                <th>{{ 'actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.content }}</td>
                <td>
                    <a href="{{ path('page_show', {'id': page.id}) }}"> {{ 'show' | trans }}</a>
                    <a href="{{ path('page_edit', {'id': page.id}) }}"> {{ 'edit' | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('page_new') }}">{{ 'Create new' | trans }}</a>
</div>
{% endblock %}
