{% extends 'base.html.twig' %} {# recuperer la base du template #}

{% block body %}
    <h1>{{ blog_name }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.content }}</td>
                <td>
                    <a href="{{ path('blog_page_show', {'id': page.id}) }}">show</a>  <!-- Permet d'accéder à la page -->
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('page_edit', {'id': page.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %} <!-- si celui-ci est identifier-->
        <a href="{{ path('page_new') }}">Create new</a>
    {% endif %}
    <br>
    <a href="{{ path('home') }}">Home</a>


{% endblock %}