{% extends 'base.html.twig' %}

{% block title %}Page contact{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style_contact.css') }}">

{% endblock %}

{% block body %}
    <!------ Include the above in your HEAD tag ---------->
    <div class="container contact-form">
        <div class="contact-image">
            <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
        </div>
        <div class="form">
        {{ form_start(contact_form) }}
        <h3>Laissez-nous un message</h3>
        {{ form_widget(contact_form) }}
        <input type="submit" name="btnSubmit" class="btnContact" value="Envoyer" />
        {{ form_end(contact_form) }}
        </div>
    </div>
{% endblock %}