{% extends 'base.html.twig' %}

{% block title %}Welcome home ! dear{% endblock %}
{% block stylesheets %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="css/style1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container" style="background-color: rgba(200, 200, 200, 0.8)">
    <!--  on appel blog show, ID c'est pour passer un parametre        -->
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">

                    {% for blog in blogs %}

                    <div><a href="{{ path('blog_show', {'id': blog.id}) }}">TEXTE_LAMBA<img style="width: 100%"
                    src="{{ asset('image/blog' ~ blog.id ~ '.jpg') }}"></a></div>

                    {% endfor%}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
