{% extends 'base.html.twig' %}

{% block title %}Welcome home ! dear{% endblock %}
{% block stylesheets %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="css/style1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
    <!--  on appel blog show, ID c'est pour passer un parametre        -->
    <div class="jumbotron">
        <h1 style="visibility: hidden">Page d'accueil</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 style="color: white; text-align: center; margin-bottom: 4%;">Bienvenue chez LesTutos.com !
            <br>
            Pour découvrir et partager nos passions !</h2>
        </div>
        {% for blog in blogs %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="vignette">
                <a href="{{ path('blog_show', {'id': blog.id}) }}">
                  <img style="width: 100%; height: 100%;" src="{{ asset(blog.imageLink) }}" />
                  <br />
                  <span>{{ blog.title}}</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}
