{% extends 'base.html.twig' %}

{% block title %}Welcome home ! dear{% endblock %}
{% block stylesheets %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="css/style1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--  on appel blog show, ID c'est pour passer un parametre        -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-custom">
                <ul>
                    {% for blog in blogs %}
                    <li><a href="{{ path('blog_show', {'id': blog.id}) }}">{{ blog.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
