{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="container">
        {#<h1>Page</h1>#}

        {#<table class="table">#}
            {#<tbody>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ page.id }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Title</th>#}
                {#<td>{{ page.title }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Photo</th>#}
                {#<td><img src="{{ asset('uploads/photos/' ~ page.photo) }}"></td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Content</th>#}
                {#<td>{{ page.content }}</td>#}
            {#</tr>#}
            {#</tbody>#}
        {#</table>#}
        <div class="row" style="background-color: white;">

            <img style="width: 100%;" src="{{ asset('uploads/photos/' ~ page.photo) }}">
            <div class="col-8" style="background-color: white;">
                <h1 style="text-transform: uppercase; background-color: white; text-align: right; padding-top: 3%; padding-bottom: 3%;"><strong>{{ page.title }}</strong></h1>
                <p style="text-align: right; padding-top: 2%;">
                    <span style="text-transform: uppercase;"><strong>{{ page.preview }}</strong>
                    </span><br><span style="background-color: orangered; color: white;"> Par : {{ page.user.email }}</span></p>
                <p style="text-align: right; background-color: white; padding-left: 30px; padding-bottom: 30px;">{{ page.content }}</p>
            </div>
            <div class="col-4" style="background-color: #218BC3; padding: 5%;">
                <h2 style="text-transform: uppercase; color: white; margin-bottom: 20%;"><strong>Les astuces !</strong></h2>
                <p>Pourquoi l'utiliser?
                    On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de
                    distractiocas comparable avec celle du français standard. De
                    nombreuses suites logicielles.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <br>
                <a style="background: white; text-transform: uppercase; padding: 10px;" href="{{ path('blog_show', {'id': page.blog.id}) }}"><strong>{{ 'back to list' | trans }}</strong></a>
            </div>
        </div>

    </div>
{% endblock %}