{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style_contact.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% endblock %}

{% block body %}
<div class="container contact-form">
    <div class="contact-image">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
    </div>

    <div class="row">
        <div class="col-md-12 bg-primary">
        </div>
        <div class="col-md-12">
            <div class="form">
            {{ form_start(register_form) }}
            <h3>inscrivez-vous</h3>
            {{ form_widget(register_form) }}
            <input type="submit" name="register" class="btnContact" value="S'enregistrer" />

            {{ form_end(register_form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
