{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
<div class="container" style="background-color: rgba(200, 200, 200, 0.8)">
    <h1>{{  "Blog index" | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Id' | trans }}</th>
                <th>{{ 'Title' | trans }}</th>
                <th>{{ 'CreatedAt' | trans }}</th>
                <th>{{ 'UpdatedAT' | trans }}</th>
                <th>{{ 'Descriptif' | trans }}</th>
                <th>{{ 'Author' | trans }}</th>
                <th>{{ 'Actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>

        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.title }}</td>
                <td>{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ blog.updatedAt ? blog.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ blog.descriptif }}</td>
                <td>{{ blog.author }}</td>
                <td>
                    <a href="{{ path('blog_show', {'id': blog.id}) }}">{{ 'show' | trans }}</a>
                    <a href="{{ path('blog_edit', {'id': blog.id}) }}"> {{ 'edit' | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blog_new') }}">{{ 'Create new' | trans }}</a>
</div>
{% endblock %}
